/********************************************************************************
/ LISTS
/********************************************************************************/

/* Divider between list elements */
.liferay-ims li.divider {
  border-bottom: 1px solid #ddd;
}

/********************************************************************************
/ PRELOADER
/********************************************************************************/

.liferay-ims .preloader {
  position: absolute;
  margin: 60px auto 0;
  text-align: center;
  background: url("/images/preloader-light.gif") center center no-repeat;
  @include image-2x("/images/preloader-light@2x.gif", auto, 25px);
  width: 100%;
  height: 40px;

}

/********************************************************************************
/ BUTTON
/********************************************************************************/

.liferay-ims {

  .button {
    padding: 4px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    // Rounded corners
    @include border-radius(5px);
    // Make the button unselectable
    @include no-select();
    @include box-shadow(0 1px 0 rgba(255,255,255,0.75) inset,0 -1px 0 rgba(0,0,0,0.15) inset);

    &:hover,
    &:focus {
      text-shadow: none;
      @include box-shadow(none);
      background-color: #eee;
    }
  }

  .button-primary {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
  }

  .button-default {
    color: #333333;
    background-color: white;
    border-color: #cccccc;
  }

  .button-primary.active,
  .button-primary.active:hover {
    color: white;
    background-color: #74B3EB;
    border-color: #629CCE;
  }

  .button-primary:hover {
    color: #333333;
    background-color: rgba(178, 217, 241, 0.62);
    border-color: rgba(178, 217, 241, 0.62);
  }

  .button-default:hover,
  .button-default.active {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
  }

  //////////////////////////////////////////////////////////////////
  // Button group                                                 //
  //////////////////////////////////////////////////////////////////

  .button-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
    padding-bottom: 5px;

    &.disabled {
      opacity: 0.5;
    }

    &.disabled .button-primary:hover {
      color: #333333;
      background-color: #ffffff;
      border-color: #cccccc;
    }

    &.disabled .button-primary.active:hover {
      color: white;
      background-color: #74B3EB;
      border-color: #629CCE;
    }

    .button {
      // Rounded corners
      @include border-radius(0);
      @include box-shadow(none);
    }

    > .button {
      position: relative;
      float: left;
      margin-left: -1px;
    }

    .button:first-of-type {
      // Rounded corners
      @include border-radius(5px);
      @include border-top-right-radius(0);
      @include border-bottom-right-radius(0);
    }

    .button:last-of-type {
      // Rounded corners
      @include border-radius(5px);
      @include border-top-left-radius(0);
      @include border-bottom-left-radius(0);
    }
  }
}


/************************************************************************************
/  TOKEN INPUT
/************************************************************************************/

.liferay-ims .token-input {

  li {
    padding-bottom: 0;
  }

  .token-input-plugin,
  .token-input-plugin-content,
  .token-input-plugin-item,
  .token-input-plugin-list {
    display: inline-block;
    padding: 0;
    vertical-align: bottom;
    zoom: 1;
  }

  .token-input-plugin {
    width: 360px;
  }

  .token-input-plugin-content,
  .token-input-plugin-list {
    width: 100%;
  }

  .token-input-plugin-input {
    position: relative;
    top: 4px;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    width: 5ex;
    @include appearance(none);
    margin-bottom: 7px;
    max-height: 21px;
  }

  .token-input-plugin-input:disabled {
    background: none;
  }

  .token-input-plugin-input:focus {
    @include appearance(none);
    // Remove shadow
    @include box-shadow(none);
  }

  .token-input-plugin-item {
    margin: 1px 2px;
    padding-bottom: 0;
  }

  .token-input-plugin-list {
    cursor: text;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 1px 0;
  }

  .token-input-plugin-token {
    cursor: pointer;
  }

  .token-input-plugin-hidden,
  .token-input-plugin-host {
    display: none;
  }

  .token-input-plugin {
    outline: 0;
  }

  .token-input-plugin-list {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .token-input-plugin-content {
    background: #fff;
    border: 1px solid #ddd;
    color: #000;
    padding: 0;
  }

  .token-input-plugin-fauxinput {
    border-bottom-color: #dadada;
    border-top-color: #717171;
    // Add shadow
    @include box-shadow(inset 0 1px 2px -1px #717171);
  }

  .token-input-plugin-token {
    // Rounded corners
    @include border-radius(8px);
    background-color: #74B3EB;
    border: none;
    color: white;
    padding: 1px 11px 2px;
    position: relative;
    font-weight: 500;
  }

  .token-input-plugin-hasremove {
    padding-right: 21px !important;
  }

  .token-input-plugin-hover {
    background-color: #64a3eb;
    border-color: #4991ce;
  }

  .token-input-plugin-focus {
    background-color: #4595eb;
    border-color: #337ece;
    color: #fff;
    outline: 0;
  }

  .token-input-plugin-remove {
    color: #fff;
    line-height: 1;
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }

  .token-input-plugin-windows .token-input-plugin-remove {
    margin-top: 2px;
  }

  .token-input-plugin-remove:hover {
    color: #333;
  }

  .token-input-plugin-focus .token-input-plugin-remove {
    color: #fff;
  }

  //  Disabled elements

  &.disabled .token-input-plugin-token {
    opacity: 0.5;
  }

  &.disabled .token-input-plugin-hover {
    background-color: #74B3EB;
    border: 1px solid #629CCE;
  }

  &.disabled .token-input-plugin-remove:hover {
    color: #ffffff;
  }

}

/********************************************************************************
/ STATUS INDICATOR
/********************************************************************************/

.liferay-ims .status-indicator {
  width: 10px;
  height: 10px;
  opacity: 0.9;

  &.online {
    background: url(/images/status-online.png) no-repeat center center;
    @include image-2x('/images/status-online@2x.png', 10px, 10px);
  }

  &.busy {
    background: url(/images/status-busy.png) no-repeat center center;
    @include image-2x('/images/status-busy@2x.png', 10px, 10px);
  }

  &.unavailable {
    background: url(/images/status-unavailable.png) no-repeat center center;
    @include image-2x('/images/status-unavailable@2x.png', 10px, 10px);
  }

  &.off {
    background: url(/images/status-off.png) no-repeat center center;
    @include image-2x('/images/status-off@2x.png', 10px, 10px);
  }

}

/********************************************************************************
/ SWITCH
/********************************************************************************/

.liferay-ims {

  .switch {
    // Make the button unselectable
    @include no-select();
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    font-size: 20px;
    margin-right: 10px;
  }

  .switch input {
    opacity: 0;
    position: absolute;
  }

  .switch input + span {
    position: relative;
    display: inline-block;
    width: 1.65em;
    height: 1em;
    background: white;
    box-shadow: inset 0 0 0 0.0625em #e9e9e9;
    border-radius: 0.5em;
    vertical-align: -0.15em;
    transition: all 0.40s cubic-bezier(.17, .67, .43, .98);
  }

  .switch:active input + span,
  .switch input + span:active {
    box-shadow: inset 0 0 0 0.73em #e9e9e9;
  }

  .switch input + span:after {
    position: absolute;
    display: block;
    content: '';
    width: 0.875em;
    height: 0.875em;
    border-radius: 0.4375em;
    top: 0.0625em;
    left: 0.0625em;
    background: white;
    box-shadow: inset 0 0 0 0.03em rgba(0, 0, 0, 0.1),
    0 0 0.05em rgba(0, 0, 0, 0.05),
    0 0.1em 0.2em rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease-out;
  }

  .switch:active input + span:after,
  .switch input + span:active:after {
    width: 1.15em;
  }

  .switch input:checked + span {
    box-shadow: inset 0 0 0 0.73em #4cd964;
  }

  .switch input:disabled + span {
    box-shadow: inset 0 0 0 0.73em rgba(0, 0, 0, 0.08);
  }

  .switch input:checked + span:after {
    left: 0.7125em;
  }

  .switch:active input:checked + span:after,
  .switch input:checked + span:active:after {
    left: 0.4375em;
  }

  /* accessibility styles */
  .switch input:focus + span:after {
    box-shadow: inset 0 0 0 0.03em rgba(0, 0, 0, 0.15),
    0 0 0.05em rgba(0, 0, 0, 0.08),
    0 0.1em 0.2em rgba(0, 0, 0, 0.3);
    background: #fff;
  }

  .switch input:focus + span {
    box-shadow: inset 0 0 0 0.0625em #dadada;
  }

  .switch input:focus:checked + span {
    box-shadow: inset 0 0 0 0.73em #33be4b;
  }

  /* reset accessibility style on hover */
  .switch:hover input:focus + span:after {
    box-shadow: inset 0 0 0 0.03em rgba(0, 0, 0, 0.1),
    0 0 0.05em rgba(0, 0, 0, 0.05),
    0 0.1em 0.2em rgba(0, 0, 0, 0.2);
    background: #fff;
  }

  .switch:hover input:focus + span {
    box-shadow: inset 0 0 0 0.0625em #e9e9e9;
  }

  .switch:hover input:focus:checked + span {
    box-shadow: inset 0 0 0 0.73em #4cd964;
  }

}

/************************************************************************************
/  ERROR NOTIFICATION
/************************************************************************************/

.liferay-ims .error-notification {
  top: 40%;
  padding: 10px;
  width: 90%;
  position: absolute;

  .warning-icon {
    background: transparent url(/images/icon-warning-red.png) no-repeat center center;
    @include image-2x('/images/icon-warning-red@2x.png', 14px, 16px);
    width: 14px;
    height: 16px;
    margin: 0 7px 0 0;
    float: left;
  }

  .error-message {
    color: #ce1b1b;
    max-width: 170px;
    min-height: 16px;
    float: left;
    line-height: 13px;
    font-size: 12px;
    text-align: justify;
  }

  .resend-button {
    background: transparent url(/images/icon-resend.png) no-repeat center center;
    @include image-2x('/images/icon-resend@2x.png', auto, 21px);
    width: 21px;
    height: 21px;
    float: right;
    border: none;
    filter: none;
    padding: 0;
    margin: 0;
    @include box-shadow(none);
  }

  .resend-button.activated {
    position: relative;
    text-align: center;
    background: transparent url(/images/preloader-button.gif) center center no-repeat;
    @include image-2x('/images/preloader-button@2x.gif', auto, 21px);
    width: 21px;
    height: 21px;
  }

}

/************************************************************************************
/  INFO NOTIFICATION
/************************************************************************************/

.liferay-ims .info-notification {
  top: 40%;
  padding: 10px;
  width: 90%;
  position: absolute;

  .info-icon {
    background: transparent url(/images/icon-info-blue.png) no-repeat center center;
    @include image-2x('/images/icon-info-blue@2x.png', auto, 18px);
    width: 18px;
    height: 18px;
    margin: 0 10px 0 5px;
    float: left;
  }

  .info-message {
    color: #7e7e7e;
    max-width: 190px;
    min-height: 18px;
    float: left;
    line-height: 13px;
    font-size: 12px;
    text-align: justify;
  }

}
