/********************************************************************************
/ CONVERSATION
/********************************************************************************/

.liferay-ims .conversation {

  .panel-content {
    height: 250px;
    overflow-y: auto;
    background: #fff;
    margin-top: 0;
  }

  .panel-content li {
    line-height: 15px;
  }

  .ie .panel-content {
    position: relative;
  }

  .conversation-item {
    padding: 5px 7px;
    min-height: 34px;
  }

  .conversation-item-portrait img.portrait {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 6px;
    top: 6px;
    background: #fff;
    // Circled image
    @include border-radius(16px);
  }

  .conversation-item-message {
    margin-left: 32px;
    max-width: 220px;
  }

  .conversation-item-name {
    float: left;
    font-size: 11px;
    display: block;
    padding: 3px 5px 3px;
    color: #7e7e7e;
    max-width: 120px;
    line-height: 10px
  }

  .conversation-item-date {
    float: right;
    font-size: 9px;
    font-style: normal;
    color: #7e7e7e;
    max-width: 75px;
    line-height: 10px;
    padding-top: 3px;
  }

  .conversation-item-text {
    display: block;
    text-align: left;
    line-height: 14px;
    padding: 2px 8px;
    color: #4c4c4c;
    font-weight: 400;
    clear: left;
    word-wrap: break-word;
    opacity: 0.6;
  }

  .panel-input {
    opacity: 0; /* panel input is hidden until the message feed is loaded */
    position: relative;
    height: 34px;
  }

  .panel-input textarea {
    width: 249px;
    height: 22px;
    padding: 5px 10px 5px;
    background: #f8f8f8;
    border: 1px solid #dedede;
    border-left: none;
    border-right: none;
    display: block;
    overflow: hidden;
    @include box-shadow(none);
    resize: none;
    outline: none;
    font-size: 12px;
    line-height: 14px;
    color: #545454;
    @include border-radius(0px);
  }

  .panel-input textarea:focus {
    background: #fff;
    border-bottom-color: #fff;
  }

  span.highlight {
    background: #a5d6ef;
    font-weight: normal;
  }

  .chat-height-monitor {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    white-space: -o-pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
    left: -10000em;
    top: -10000em;
    padding: 5px 10px 5px;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
  }

  ////////////////////////////////////////////////////////////
  // CONVERSATION ITEM ERROR                                //
  ////////////////////////////////////////////////////////////

  .conversation-item-error {
    padding: 5px 0 5px;

    .warning-icon {
      background: transparent url(/images/icon-warning-red.png) no-repeat center center;
      @include image-2x('/images/icon-warning-red@2x.png', auto, 16px);
      width: 14px;
      height: 16px;
      margin: 7px 7px 0 0;
      float: left;
    }

    .error-message {
      color: #ce1b1b;
      max-width: 160px;
      float: left;
      line-height: 13px;
      font-size: 11px;
      text-align: justify;
    }

    .resend-button {
      background: transparent url(/images/icon-resend.png) no-repeat center center;
      @include image-2x('/images/icon-resend@2x.png', auto, 21px);
      width: 21px;
      height: 21px;
      float: right;
      @include box-shadow(none);
      margin: 0;
      padding: 0 15px 0 0;
      border: none;

      &:hover,
      &:focus, {
        border: none;
        filter: none;
        padding: 0 15px 0 0;
        margin: 0;
        @include box-shadow(none);
        width: 21px;
        height: 21px;
      }
    }

    .resend-button.preloader {
      position: relative;
      margin: 0;
      background: transparent url(/images/preloader-button.gif) center center no-repeat;
      @include image-2x('/images/preloader-button@2x.gif', 21px, 21px);
      background-size: 21px;
    }

    .delete-button {
      background: transparent url(/images/icon-basket.png) no-repeat center center;
      @include image-2x('/images/icon-basket@2x.png', 16px, 21px);
      width: 16px;
      height: 21px;
      float: right;
      padding: 0;
      margin: 0;
      border: none;
      @include box-shadow(none);

      &:hover,
      &:focus, {
        border: none;
        filter: none;
        padding: 0;
        margin: 0;
        @include box-shadow(none);
        width: 16px;
        height: 21px;
      }
    }
  }
}