/********************************************************************************
/ SETTINGS PANEL
/********************************************************************************/

.liferay-ims .chat-settings {

  label {
    font-size: 12px;
  }

  label.switch {
    font-size: 20px;
  }

  .panel-trigger .trigger-name {
    background: url(/images/icon-settings.png) no-repeat center center;
    @include image-2x('/images/icon-settings@2x.png', 16px, 16px);
    width: 40px;
    height: 24px;
  }

  &.selected .panel-trigger .trigger-name {
    background: url(/images/icon-settings-selected.png) no-repeat center center;
    @include image-2x('/images/icon-settings-selected@2x.png', 16px, 16px);
    width: 40px;
    height: 24px;
  }

  .settings {
    float: none;
  }

  .slider {
    height: 30px;
  }

  .value {
    float: left;
    margin: -4px 8px 11px 9px;
    font-size: 14px;
    font-weight: bold;
    min-width: 30px;
  }

  .settings li {
    clear: both;
    float: none;
    padding: 10px;
    line-height: 26px;
  }

  .settings > input[type="text"] {
    width: 300px;
  }

  .buddy-list-max-buddies {
    margin-top: 10px;
  }

  .settings-title {
    height: 25px;
    background: #f8f8f8;
    padding-left: 5px;
    padding-top: 6px;
    text-transform: uppercase;
    float: none;
    @include box-shadow(inset 0 0 0 0 #f8f8f8, inset 0 -2px 2px -2px rgba(105, 104, 104, 0.25));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .settings-title-text {
      float: left;
      max-width: 180px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  /********************************************************************************
  / SETTINGS PANEL - ADMIN AREA
  /********************************************************************************/

  .admin-area {
    position: relative;

    .settings {
      width: 440px;
      height: 300px;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    .settings.closed {
      width: 250px;
      height: 0;
    }

    .help {
      display: inline-block;
      text-decoration: none;
      background: url(/images/button-help.png) center center no-repeat;
      @include image-2x('/images/button-help@2x.png', auto, 20px);
      width: 20px;
      height: 20px;
      float: right;
      margin-right: 10px;
    }

    .help:hover {
      opacity: 0.7;
    }

    .open-button {
      float: right;
      margin-right: 10px;
      text-decoration: underline;
      text-transform: capitalize;
      cursor: pointer;
    }

    li {
      padding: 0 10px;
    }

    .buddy-list-ignore-default-user {
      padding-top: 14px;
    }

    .buddy-list-max-buddies {
      margin-top: 17px;
    }

    .settings-category-title {
      margin-top: 10px;
    }

    .buddy-list-group-excludes {
      margin-bottom: 20px;
    }
  }
}

