/************************************************************************************
**   PRESENCE PANEL
*************************************************************************************/

.liferay-ims .status-panel {

  .panel-trigger .trigger-name {
    width: 20px;
    height: 24px;
  }

  .panel-window {
    min-width: 150px;
  }

  .status-indicator {
    margin-left: 6px;
    margin-top: 7px;
  }

  ////////////////////////////////
  // STATUS INDICATOR           //
  ////////////////////////////////

  .panel-window .status {

    li {
      padding: 10px 5px 10px 30px;
      cursor: pointer;
      line-height: 15px;
      // Make the button unselectable
      @include no-select();
    }

    li:hover {
      background-color: #f3f3f3;
    }

    .online {
      background: url(/images/status-online.png) no-repeat 10px center;
      @include image-2x('/images/status-online@2x.png', 10px, 10px);
    }

    .busy {
      background: url(/images/status-busy.png) no-repeat 10px center;
      @include image-2x('/images/status-busy@2x.png', 10px, 10px);
    }

    .unavailable {
      background: url(/images/status-unavailable.png) no-repeat 10px center;
      @include image-2x('/images/status-unavailable@2x.png', 10px, 10px);
    }

    .off {
      background: url(/images/status-off.png) no-repeat 10px center;
      @include image-2x('/images/status-off@2x.png', 10px, 10px);
    }
  }
}