# build folders
/out/
/lib/

# ext properties
/docroot/WEB-INF/src/portlet-ext.properties

# js build folders
/docroot/js/build

# css build folders
/docroot/css/build

# idea, eclipse
/.idea/
.project
.classpath

# tests
/test-classes
/test-results
/tests

# mac
.DS_Store

# css cache
.sass-cache
