# build folders
/out/
/lib/

# js build folders
/docroot/js/build

# idea, eclipse
/.idea/
.project
.classpath

# tests
/test-classes
/test-results
/tests

# mac
.DS_Store

# css cache
/docroot/css/.sass-cache/

